<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/simplex/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/favicon" href="/favicon.jpg"/>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="collapse navbar-collapse" id="navbarColor01">
          <a class="navbar-brand" href="#">Inicio</a>
        </div>
        <li class="nav-item"><img src="images/patineta.png" alt="patineta" width="50" height="50"></li>
      </nav>
      <center>
        <h2>Bienvenidos a el punto LKL SKATE SHOP</h2>
        <img src="images/logo.png" alt="logo">
        <div class="container">
          <hr class="custom">
          <a href="http://localhost:3000/Ecategoria"><button type="button" class="btn btn-outline-primary">Ver categorias</button></a>
          <hr class="custom">
        </div>

        <div class="slider">
          <a href="https://www.instagram.com/lklsk8shop"><img class="animated-image" src="images/tenis.jpg"></a>
          <a href="https://www.instagram.com/lklsk8shop"><img class="animated-image" src="images/niño.jpg"></a>
          <a href="https://www.instagram.com/lklsk8shop"><img class="animated-image" src="images/skate.jpg"></a>
          <a href="https://www.instagram.com/lklsk8shop"><img class="animated-image" src="images/skate1.jpg"></a>
          <a href="https://www.instagram.com/lklsk8shop"><img class="animated-image" src="images/tablas.jpg"></a>
        </div>        
        <hr class="custom">
      </center>
    <style>
      .slider {
  display: flex;
  justify-content: space-around;
}

.animated-image {
  width: 250px; /* Ajusta el tamaño según tus necesidades */
  height: 250px; /* Ajusta el tamaño según tus necesidades */
  transition: transform 0.5s ease;
}

.animated-image:hover {
  transform: scale(1.1); /* Cambia el tamaño de la imagen al hacer hover */
}

body { 
  margin: 0; 
}
    </style>
<%- include('footer.ejs') %>