<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/simplex/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/favicon" href="/favicon.jpg"/>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="collapse navbar-collapse" id="navbarColor01">
          <a class="navbar-brand" href="#">Inicio</a>
        </div>
        <li class="nav-item"><img src="images/patineta.png" alt="patineta" width="50" height="50"></li>
      </nav>
    <div class="container">
    <img src="images/logo.png" alt="logo">
    <hr class="custom">
    <a href="http://localhost:3000/Eproducto"><button type="button" class="btn btn-outline-primary">Ver catalogo</button></a>
    </div>
<%- include('footer.ejs') %>